$color0: #363d4c;
$color1: #d3d4d4;
$color2: #8c3cfc;
$color3: #848688;
$color4: #a6938a;

// * {
//   box-sizing: border-box;
// }

.whole-page {
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 0.3;
  background-color: $color0;
  display: flex;
  justify-content: flex-end;
  color: white;

  .sidebar-content {
    width: 90%;
    display: flex;
    flex-direction: column;

    img {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
    h2 {
      border-bottom: 2px solid white;
    }
    h3 {
      height: 1.5%;
      font-weight: 550;
    }

    div {
      flex: 1;
    }

    .profile-pic {
      // height: 4000px;
      // flex: 0.8;
      flex-grow: 0;
      width: 100%;
      padding: 50px 0 40px;
      // padding-right: 50px;
    }

    .expertise > ul > li {
      margin-top: 5px;
    }

    .contact {
      height: 30%;
    }
  }
}

.main {
  flex: 1;
  background-color: lighten($color1, 50);
  padding: 0 2.5%;

  h2 {
    border-bottom: 2px solid black;
  }
  h3 {
    color: $color3;
  }
  p {
    color: $color0;
  }

  .education,
  .projects,
  .jobs {
    > div {
      padding-left: 20px;
    }
  }
}

.name-and-bio {
  display: flex;
  flex-direction: column;
  padding: 50px 0px 30px;
  h1 {
    flex: 1;
    font-size: 70px;
    margin: 2px;
  }
  h2 {
    flex: 0.5;
    color: $color3;
    border-bottom: none;
    font-size: 30px;
    margin: 2px;
    letter-spacing: 2px;
  }
  span {
    flex: 1;
    font-weight: 400;
    color: $color0;
  }
  p {
    margin-bottom: 2px;
  }
}

.education {
  // display: flex;
  // flex-direction: column;
  div {
    padding-left: 10px;
  }
  h3 {
    margin: 3px 0px;
    font-size: 25px;
    font-weight: 800;
  }
  h4 {
    margin: 3px 0px;
    font-size: 20px;
    color: $color0;
  }
  h5 {
    margin: 3px 0px;
    font-size: 15px;
    color: $color3;
  }
}

.projects {
  h3 {
    height: 5px;
  }
  h4 {
    color: $color0;
    width: 70%;
    margin: 3px 0px;
  }
  p {
    margin: 5px 0px;
  }
}
